In [ ]:
import sqlite3 as sq3
path = 'flash/data'
query = 'CREATE TABLE numbs (Date date, No1 real, No2 real)'
con = sq3.connect(path + 'numbs.db')
#con.execute(query) (added this in my first check so already added in my notebook)
con.commit()

In [7]:
import datetime as dt
con.execute('INSERT INTO numbs VALUES(?,?,?)', (dt.datetime.now(), 0.12, 7.3))

In [8]:
import numpy as np
data = np.random.standard_normal((10000, 2)).round(5)

for row in data:
    con.execute('INSERT INTO numbs VALUES(?,?,?)', (dt.datetime.now(), row[0], row[1]))
con.commit()

In [9]:
con.execute('SELECT * FROM numbs').fetchmany(10)

[('2025-06-14 10:25:42.688094', 0.12, 7.3),
 ('2025-06-14 10:27:27.981099', -0.85558, 0.50136),
 ('2025-06-14 10:27:27.981177', -1.78573, 0.6202),
 ('2025-06-14 10:27:27.981206', -0.34161, -0.82694),
 ('2025-06-14 10:27:27.981213', -0.39778, 0.99789),
 ('2025-06-14 10:27:27.981218', -1.40643, -1.33045),
 ('2025-06-14 10:27:27.981221', -0.75651, -1.27424),
 ('2025-06-14 10:27:27.981225', -1.31216, -1.12546),
 ('2025-06-14 10:27:27.981230', 0.5641, -1.14699),
 ('2025-06-14 10:27:27.981234', -0.80327, -0.11281)]

In [10]:
con.close()

In [11]:
dtimes = np.arange('2021-12-31 22:00:00','2024-12-31 22:00:00', dtype = 'datetime64[m]')
len(dtimes)

1578240

In [13]:
dty = np.dtype([('Dates', 'datetime64[m]'),('No1','f'),('No2','f')])
data = np.zeros(len(dtimes), dtype=dty)
data['Dates'] = dtimes
a = np.random.standard_normal((len(dtimes),2)).round(5)
data['No1'] = a[:,0]
data['No2'] = a[:,1]
%time np.save(path+'array',data)

CPU times: user 179 Âµs, sys: 4.39 ms, total: 4.57 ms
Wall time: 8.63 ms

In [14]:
ll $path*

-rw-r--r--@ 1 The_real_G  staff  25252032 Jun 14 10:41 flash/dataarray.npy
-rw-r--r--@ 1 The_real_G  staff    520192 Jun 14 10:27 flash/datanumbs.db

In [15]:
%time np.load(path +'array.npy')

CPU times: user 1.38 ms, sys: 10.2 ms, total: 11.6 ms
Wall time: 11.6 ms

array([('2021-12-31T22:00', -0.0248 , 0.90864),
       ('2021-12-31T22:01',  0.39582, 0.22626),
       ('2021-12-31T22:02',  0.37746, 0.12111), ...,
       ('2024-12-31T21:57', -0.1906 , 0.79382),
       ('2024-12-31T21:58', -0.46868, 1.73621),
       ('2024-12-31T21:59', -1.20466, 0.8614 )],
      dtype=[('Dates', '<M8[m]'), ('No1', '<f4'), ('No2', '<f4')])