In [2]:
import numpy as np
import pandas as pd
import openpyxl
import xlsxwriter
path = 'data/'
filename = path + 'workbook.xlsx' 
wb = xlsxwriter.Workbook(filename)

In [3]:
wb

In [4]:
ws_1 = wb.add_worksheet('first_sheet')
ws_2 = wb.add_worksheet('second_sheet')

In [5]:
data = np.arange(1,65).reshape((8,8))
data

array([[ 1,  2,  3,  4,  5,  6,  7,  8],
       [ 9, 10, 11, 12, 13, 14, 15, 16],
       [17, 18, 19, 20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29, 30, 31, 32],
       [33, 34, 35, 36, 37, 38, 39, 40],
       [41, 42, 43, 44, 45, 46, 47, 48],
       [49, 50, 51, 52, 53, 54, 55, 56],
       [57, 58, 59, 60, 61, 62, 63, 64]])

In [6]:
ws_1.write(0,0,100)
for c in range(data.shape[0]):
    for r in range(data.shape[1]):
        ws_1.write(r,c,data[c,r])
        ws_2.write(r,c,data[r,c])

In [7]:
wb.close()

In [8]:
book = openpyxl.load_workbook(filename)

In [9]:
book

In [10]:
sheet_1 = book['first_sheet']
sheet_1

In [11]:
# number of rows
num_rows = sheet_1.max_row

# number of columns
num_cols = sheet_1.max_column

print(num_cols, num_rows)

8 8

In [12]:
cl = sheet_1.cell(1,1)
cl.value

1

In [15]:
row4_values = [cell.value for cell in sheet_1[4]]
row4_values

[4, 12, 20, 28, 36, 44, 52, 60]

In [17]:
ws = book.active
cell = ws['B4']
cell.column

2

In [18]:
cell.row

4

In [19]:
cell.value

12

In [20]:
ws['B1':'B4']

((<Cell 'first_sheet'.B1>,),
 (<Cell 'first_sheet'.B2>,),
 (<Cell 'first_sheet'.B3>,),
 (<Cell 'first_sheet'.B4>,))

In [21]:
for cell in ws['B1':'B4']:
    print(cell[0].value)

9
10
11
12

In [25]:
for row in ws['B1:C4']:
    values = [cell.value for cell in row]
    print(*values)

9 17
10 18
11 19
12 20

In [31]:
df_1 = pd.read_excel(filename, 'first_sheet', header = None)
df_2 = pd.read_excel(filename, 'second_sheet', header = None)

In [29]:
import string
columbs  = []
for c in range(data.shape[0]):
    columbs.append(string.ascii_uppercase[c])
columbs

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

In [32]:
df_1.columns = columbs
df_2.columns = columbs
df_1

   A   B   C   D   E   F   G   H
0  1   9  17  25  33  41  49  57
1  2  10  18  26  34  42  50  58
2  3  11  19  27  35  43  51  59
3  4  12  20  28  36  44  52  60
4  5  13  21  29  37  45  53  61
5  6  14  22  30  38  46  54  62
6  7  15  23  31  39  47  55  63
7  8  16  24  32  40  48  56  64

In [33]:
df_2

    A   B   C   D   E   F   G   H
0   1   2   3   4   5   6   7   8
1   9  10  11  12  13  14  15  16
2  17  18  19  20  21  22  23  24
3  25  26  27  28  29  30  31  32
4  33  34  35  36  37  38  39  40
5  41  42  43  44  45  46  47  48
6  49  50  51  52  53  54  55  56
7  57  58  59  60  61  62  63  64

In [34]:
data = np.random.rand(20, 10000)
data.nbytes

1600000

In [35]:
df = pd.DataFrame(data)

In [36]:
%time df.to_excel(filename,'data_sheet')

CPU times: user 2.1 s, sys: 51 ms, total: 2.15 s
Wall time: 2.18 s

In [37]:
ll $path*

-rw-r--r--@ 1 The_real_G  staff  2542662 Jun 26 14:24 data/workbook.xlsx

In [38]:
%time df = pd.read_excel(filename, 'data_sheet')

CPU times: user 1.81 s, sys: 24.5 ms, total: 1.83 s
Wall time: 1.84 s

In [39]:
!rm data/workbook.xlsx